#x{background-color:tomato;}
.y{background-color:rgb(14, 221, 248);font-family: cursive;}
.a{background-color:coral;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
b{background-color:rgb(218, 159, 11)}