.classsel{
    color: brown; 
    background-color: aquamarine; 
   }
#idsel{
    color:rgb(13, 28, 116); 
       background-color: rgb(226, 115, 207); 
}
b{ 
    color: rgb(230, 227, 97); 
       background-color: rgb(160, 88, 228); 
}
.hell{ 
    background-color:rgb(3, 248, 3); 
}